* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sp {
  width: 100%;
  height: 100vh;
  background: url(../media/3.jpg) no-repeat;
  background-size: cover;
}
.music-player {
  height: 100vh;
  /*  background: linear-gradient(to top, #771f81, #d850db); */
  background: url(../media/4.jpg);
  background-size: contain;
  box-shadow: 5px 5px 10px black;
}
.icons1 > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: purple;
  box-shadow: 0 1px 10px purple;
}
img {
  border-radius: 50%;

  border: 5px solid lightpink;
}
#progress {
  -webkit-appearance: none;
  width: 85%;
  margin-top: 10px !important;
  background-color: rgb(94, 1, 94);
  height: 8px;
  border-radius: 10px;
  outline: unset;
  cursor: pointer;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 7px solid rgb(255, 210, 217);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(28, 28, 28);
}
.icons2 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.icons2 > div {
  background-color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.icons2 > div:nth-of-type(2) {
  width: 90px;
  height: 90px;
  font-size: 27px;
}
.icons2 i {
  font-size: 20px !important;
}
.icons2 i#ctrlIcon {
  font-size: 35px !important;
}
h1 {
  margin-top: 20px !important;
}
@media (min-width: 768px) {
  .music-player {
    height: 570px !important;
    border-radius: 15px;
    border: 5px solid lightpink;
  }
  h1 {
    font-size: 24px !important;
  }
  .icons2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .icons2 > div {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .icons2 > div:nth-of-type(2) {
    width: 70px;
    height: 70px;
    font-size: 27px;
  }
  .icons2 i {
    font-size: 18px !important;
  }
  .icons2 i#ctrlIcon {
    font-size: 30px !important;
  }
}
